@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
html{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: "Nunito", sans-serif;
}

.navbar{
    background-color: #28283E;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
    position: sticky;   

}
.navbar-logo{
    display: flex;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 24px;
}


.navbar-logo:hover{
    transform: scale(1.2);
}

.menu{
    width: 60%;
}

.menu > ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.menu > ul > li > a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    font-size: 24px;
}
.menu > ul > li > a:hover, .menu > ul > li > a:active{
    color: black;
}

/* Home Section Code */

.home{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    display: flex;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(#222831);
    cursor: pointer;
    transition: 0.4s ease;
}

.home-img img:hover{
    box-shadow: 0 0 25px;

}

.home-content{
    margin-left: 4rem;
}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 1rem;
}

span{
    color: #424874;
}

.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid;
    border-radius: 50%;
    font-size: 2rem;
    color: #424874;
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease;
}

.social-media a:hover{
    transform: scale(1.2) translateY(-5px);
    background-color: #424874;
    color: #424874;
    box-shadow: 0 0 25px;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background: #28283E;
    box-shadow: none;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
}

.btn:hover{
    box-shadow: 0 0 1.6rem;
}